<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Game28.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <userSettings>
    <Game28.Properties.Settings>
      <setting name="user" serializeAs="String">
        <value />
      </setting>
      <setting name="pwd" serializeAs="String">
        <value />
      </setting>
      <setting name="rules" serializeAs="String">
        <value />
      </setting>
      <setting name="interval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxLimit" serializeAs="String">
        <value>1000000</value>
      </setting>
    </Game28.Properties.Settings>
  </userSettings>
</configuration>
